In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
install pandas

SyntaxError: invalid syntax (2856326376.py, line 1)

In [3]:
import pandas

In [4]:
l1=[1,2,3,4,5,6]

In [5]:
l1

[1, 2, 3, 4, 5, 6]

In [6]:
pandas.Series(l1)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
pandas.Series([l1,l1,l1])

0    [1, 2, 3, 4, 5, 6]
1    [1, 2, 3, 4, 5, 6]
2    [1, 2, 3, 4, 5, 6]
dtype: object

In [8]:
pandas.DataFrame([l1,l1,l1])

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  1  2  3  4  5  6
2  1  2  3  4  5  6

In [9]:
df=pandas.DataFrame([l1,l1,l1,l1],row=["1","2","3","4"])

TypeError: __init__() got an unexpected keyword argument 'row'

In [10]:
df=pandas.DataFrame([l1,l1,l1,l1],column=["1","2","3","4"])

TypeError: __init__() got an unexpected keyword argument 'column'

In [11]:
df=pandas.DataFrame([l1,l1,l1,l1],columns=["1","2","3","4","5"])

ValueError: 5 columns passed, passed data had 6 columns

In [12]:
df=pandas.DataFrame([l1,l1,l1,l1],columns=["1","2","3","4","5","6"])

In [13]:
df

   1  2  3  4  5  6
0  1  2  3  4  5  6
1  1  2  3  4  5  6
2  1  2  3  4  5  6
3  1  2  3  4  5  6

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
pandas.array(l1)

<IntegerArray>
[1, 2, 3, 4, 5, 6]
Length: 6, dtype: Int64